

body {
	/* background-color: rgb(75, 89, 110); */
}

h1 {
	font-family: Exo, sans-serif;
	margin-bottom: 2%;
	margin-top: 2%;
	margin-left: 10%;
	width: 80%;
	text-indent: 1.25%;
	font-size: 2.2vw;
}

#jl {
	font-weight: 600;
	/* text-transform: uppercase; */
	color: rgb(75, 89, 110);
	letter-spacing: 1px;
}

#uc {
	font-weight: 400;
	color: rgb(175, 187, 202);
	/* float: right; */
	margin-right: auto;
	font-size: 2.0vw;
	letter-spacing: 0px;
}


#right a:link {
	font-family: Exo, sans-serif;
	font-weight: 600;
	font-size: 70%;
	color: rgb(133, 149, 172);
	text-indent: 40%;	
	text-decoration: none;
	/* text-transform: uppercase; */
}

#right a:visited {
	font-family: Exo, sans-serif;
	font-weight: 600;
	font-size: 70%;
	color: rgb(147, 163, 185);
	text-indent: 40%;	
	text-decoration: none;
	/* text-transform: uppercase; */
}

.inlineEl {
	display: inline;
}

#images {
	width: 80%;
	margin: auto;
}

#images img {
	filter: grayscale(100);
	float: left;
	/* border: 3px solid rgb(75, 89, 110); */
	width: 22%;
	margin: 1.25%
}



#images img:hover {
	/* padding: 1px;
	border: 2px solid red;
	width: 21%; */
	filter: grayscale(0);
}

#me img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 59%;
	padding: 1.25%;
}